:root
{
	--header-height: 40px;
	--header-padding: 10px;
	
	--main-width: 300px;
	--main-height: 500px;
	--input-width: 200px;
	--button-width: 200px;
}

.Body
{
    background-color:#aaaaaa;
	font-size: 20px;
	margin: 0;
}

.HeadLine
{
	background-color:#555555;
	width: 100%;
	height: var(--header-height);
	text-align: left;

	padding-top: var(--header-padding);
	padding-left: var(--header-padding);
	padding-bottom: var(--header-padding);
	position: fixed;
	top: 0;
    right: 0;
    left: 0;
	z-index: 9999;
}

.HeadLeftBlock
{
	display: inline-block;
	padding-left: 5%;
	width: 45%;
	text-align: left;
}

.HeadRightBlock
{
	display: inline-block;
	width: 45%;
	text-align: right;
}

.HeaderTextLeft
{
	display: inline-block;
	padding-left: 10%;
	font-size: 100%;
	text-shadow: 3px 3px 3px black;
}

.HeaderTextRight
{
	display: inline-block;
	font-size: 100%;
	text-shadow: 3px 3px 3px black;
	padding-right: 5%;
}

.MainBlock
{
	background-color: #999999;
	
	margin: 40px auto;
	margin-top: calc(var(--header-height) + var(--header-padding));
	
	width: 100%;
	min-width: var(--main-width);
	min-height: var(--main-height);
	padding: 20px auto;

	color: #ffcc00;
}

.Title
{
	display: inline-block;

	padding-top: 25px;
	padding-bottom: 25px;

	background-color: #888888;
	margin: 0px auto;
	width: 100%;
	text-align: center;
	font-size: 25px;

	text-shadow: 2px 2px 2px black;
}

.AuthorizationBlock
{
	text-align: center;
	background-color: #888888;
	width: var(--input-width);
	margin-top: 40px;
	margin: auto;
}

.Message
{
	text-align: center;
	width: 100%;
	background-color: #888888;
	margin: 0px auto;
}

.Role
{
	font-size: 22px;
	margin-bottom: 20px;
}

.InputBlock
{
	margin-top: 0;
	padding-top: 0px;
	padding-bottom: 40px;
	text-align: center;
	background-color: #888888;
	width: 100%;
	margin: 0px auto;
}

.FieldsBlock
{
	text-align: left;
	display: inline-block;
	margin: 0px 40px;
}

.ButtonBlock
{
	background-color: #888888;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 20px;
}


.Button
{
	width: 150px;
	height: 50px;
	font-size: 20px;
	border-radius: 15px;

}

.TableBlock
{
	margin: 40px auto;
	padding-top: 0;
	width: 98%;
	margin-left: 1%;
	border-collapse: collapse;
}

.TableRow
{
	text-align:left;
	
	border: 2px solid #000000;
	border-radius: 15px;
	
	background-color: #888888;
}

.TableRow:hover
{
	background-color: #000000;
	color: #ffcc00;
	border: 2px solid #ffcc00;
}

.SearchAviceWrapper
{
	display:none;
	width: 350px;
	background-color: rgb(80, 80, 114);
	color: rgb(255, 227, 189);
	-moz-opacity: 0.95;
	opacity: 0.95;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
	filter:alpha(opacity=95);
	z-index:999;
	position: absolute;
	top: 24px; left: 0px;
}

.SearchAviceWrapper .AdviceVariant
{
	cursor: pointer;
	padding: 5px;
	text-align: left;
}

.SearchAviceWrapper .AdviceVariant:hover
{
	color: #feffbd;
	background-color: #818187;
}

.SearchAviceWrapper .Active
{
	cursor: pointer;
	padding: 5px;
	text-align: left;
	color: #feffbd;
	background-color: #818187;
}

a
{
	color: #dddddd;
	text-decoration: none;
}