<input type="text" name="work_type" form="upload_data" placeholder="work_type"><br>
<input type="text" name="order_date" form="upload_data" placeholder="order_date"><br>
<input type="text" name="deadline" form="upload_data" placeholder="deadline"><br>
<input type="text" name="place" form="upload_data" placeholder="place"><br>
<input type="text" name="status" form="upload_data" placeholder="status"><br>
<input type="text" name="executor" form="upload_data" placeholder="executor"><br>
<input type="text" name="customer" form="upload_data" placeholder="customer"><br>