<!DocType html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Project</title>
	<link rel="stylesheet" type="text/css" href="/resources/maincss.css">
</head>
<body class="Body">
	<div class="HeadLine">
		<div class="HeaderText"><a href="/profile">Профиль</a></div>
		<div class="HeaderText"><a href="/order_list">Список заказов</a></div>
		<div class="HeaderText"><a href="/exit">Выход</a></div>
	</div>
	<div class="MainBlock">
	<div class="Title" id="Title"></div>
	$
	</div>
<script src="/resources/sendform.js"></script>
$
</body>
</html>