<!DocType html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Project</title>
	<link rel="stylesheet" type="text/css" href="/resources/maincss.css">
</head>
<body class="Body">
	<div class="HeadLine">
		<div class="HeadLeftBlock">
			<div class="HeaderTextLeft"><a href="/order/new">Новая заявка</a></div>
			<div class="HeaderTextLeft"><a href="/order_list">Поиск заявок</a></div>
		</div>
		<div class="HeadRightBlock">
			<div class="HeaderTextRight"><a href="/profile">Профиль</a></div>
		</div>
	</div>
	<div class="MainBlock">
	<div class="Title" id="Title"></div>
	$
	</div>
<script src="/resources/sendform.js"></script>
$
</body>
</html>