
		<div class="InputBlock" id="InputBlock">
		<div class="FieldsBlock">
			<div class="FieldsBlock">
					Тип работ</br>
					<input type="text" name="work_type" form="upload_data" placeholder="Тип работ" /></br>
					Место</br>
					<input type="text" name="place" form="upload_data" placeholder="Место" /></br>
			</div>
			<div class="FieldsBlock">
					Дата заказа</br>
					<input type="date" name="order_date" form="upload_data" placeholder="Дата заявки" /></br>
					Деадлайн</br>
					<input type="date" name="deadline" form="upload_data" placeholder="Деадлайн" /></br>
			</div>
			<div class="FieldsBlock">
					Исполниель</br>
					<input type="text" name="executor" form="upload_data" placeholder="Исполниель" /></br>
					Заказчик</br>
					<input type="text" name="customer" form="upload_data" placeholder="Заказчик" /></br>
			</div>
			<div class="FieldsBlock">
				Статус</br>
				<input name="status" id="Status" hidden="true"/>
				<select id="Statuses" onchange="setValFunc(this)" value="0">
					<option value=""></option>
					<option value="0">Создан</option>
					<option value="1">В Работе</option>
					<option value="2">Выполнен</option>
					<option value="3">Закрыт</option>
				</select></br>
			</div>
		</div>
		<script>

		function setValFunc(select)
		{
			Status.value = select.value;
		}

		</script>
		<input class="Button" type="submit" value="Поиск" form="upload_data" onclick="uploadTable()">
		$
		</div>
		<div class="Message" id="Message"></div>
		<table class="TableBlock" id="TableBlock">
		</table>