<table>
	<tr><td>order</td><td>executor</td><td>customer</td></tr>
	<tr>
		<td>
			<input type="text" name="work_type" form="upload_data" placeholder="work_type" /><br>
			<input type="date" name="order_date" form="upload_data" placeholder="order_date" /><br>
			<input type="date" name="deadline" form="upload_data" placeholder="deadline" /><br>
			<input type="text" name="place" form="upload_data" placeholder="place" /><br>
			<input name="status" id="Status" hidden="true"/>
			<select id="Statuses" onchange="setValFunc(this)" value="0">
			   <option value="0">Open</option>
			   <option value="1">In process</option>
			   <option value="2">Finished</option>
			   <option value="3">Close</option>
			</select>
		</td>

		<td>
			<input type="text" name="executor" form="upload_data" placeholder="executor" />
		</td>

		<td>
			<input type="text" name="customer" form="upload_data" placeholder="customer" /><br>
			<input type="text" name="passport_number" form="upload_data" placeholder="passport_number" /><br>
			<input type="text" name="passport_gived" form="upload_data" placeholder="passport_gived" /><br>
			<input type="date" name="passport_date" form="upload_data" placeholder="passport_date" /><br>
			<input type="text" name="snils" form="upload_data" placeholder="snils" /><br>
			<input type="text" name="phone" form="upload_data" placeholder="phone" /><br>
			<input type="text" name="email" form="upload_data" placeholder="email" /><br>
		</td>
	</tr>
</table>
<script>

function setValFunc(select)
{
	Status.value = select.value;
}

</script>