			<div class="FieldsBlock">
				<div class="FieldsBlock">
					<div class="FieldsBlock">
							Тип работ</br>
							<input type="text" name="work_class" form="upload_data" placeholder="Тип работ" /></br>
							Вид работ</br>
							<input type="text" name="work_type" form="upload_data" placeholder="Вид работ" /></br>
							Местоположение</br>
							<input type="text" name="place" form="upload_data" placeholder="Местоположение" /></br>
					</div>
					<div class="FieldsBlock">
							Дата заявки</br>
							<input type="date" name="order_date" form="upload_data" placeholder="Дата заявки" /></br>
							Срок выполнения</br>
							<input type="date" name="deadline" form="upload_data" placeholder="Срок выполнения" /></br>
					</div>
					<div class="FieldsBlock">
							Инженер</br>
							<input type="text" name="ingeneer" form="upload_data" placeholder="Исполнитель" /></br>
							Полевик</br>
							<input type="text" name="fielder" form="upload_data" placeholder="Исполнитель" /></br>
							Статус</br>
							<input name="status" id="Status" hidden="true"/>
							<select id="Statuses" onchange="setValFunc(this)" value="0">
								<option value=""></option>
								<option value="0">Создана</option>
								<option value="1">Полевая съемка</option>
								<option value="2">Камеральная обработка</option>
								<option value="3">Выполнена</option>
							</select></br>
					</div>
				</div>
				<div class="FieldsBlock">
					<div class="FieldsBlock">
							Заказчик</br>
							<input type="text" name="customer" form="upload_data" placeholder="Заказчик" /></br>
							Паспорт</br>
							<input type="text" name="passport_number" form="upload_data" placeholder="Серия и номер паспорта" /><br>
							Выдан</br>
							<input type="text" name="passport_gived" form="upload_data" placeholder="Выдан" /><br>
							Дата выдачи</br>
							<input type="date" name="passport_date" form="upload_data" placeholder="Дата выдачи" /><br>
					</div>
					<div class="FieldsBlock">
							Снилс</br>
							<input type="text" name="snils" form="upload_data" placeholder="Номер СНИЛС" /><br>
							Телефон</br>
							<input type="text" name="phone" form="upload_data" placeholder="Номер клиента" /><br>
							Почта</br>
							<input type="text" name="email" form="upload_data" placeholder="E-mail" /><br>
					</div>
				</div>
			</div>
			<script>

			function setValFunc(select)
			{
				Status.value = select.value;
			}

			</script>