
		<div class="InputBlock" id="InputBlock">
		<div class="FieldsBlock">
			<div class="FieldsBlock">
					Тип работ</br>
					<input type="text" name="work_class" form="upload_data" placeholder="Тип работ" /></br>
					Вид работ</br>
					<input type="text" name="work_type" form="upload_data" placeholder="Вид работ" /></br>
					Местоположение</br>
					<input type="text" name="place" form="upload_data" placeholder="Место" /></br>
			</div>
			<div class="FieldsBlock">
				Дата заявки</br>
				<input type="date" name="order_date" form="upload_data" placeholder="Дата заявки" /></br>
				Срок выполнения</br>
				<input type="date" name="deadline" form="upload_data" placeholder="Срок выполнения" /></br>
			</div>
			<div class="FieldsBlock">
				Инженер</br>
				<input type="text" name="ingeneer" form="upload_data" placeholder="Исполнитель" /></br>
				Полевик</br>
				<input type="text" name="fielder" form="upload_data" placeholder="Исполнитель" /></br>
			</div>
			<div class="FieldsBlock">
				Статус</br>
				<input name="status" id="Status" hidden="true"/>
				<select id="Statuses" onchange="setValFunc(this)" value="0">
					<option value=""></option>
					<option value="0">Создан</option>
					<option value="1">В поле</option>
					<option value="2">Камеральная съемка</option>
					<option value="3">Закрыт</option>
				</select></br>
			</div>
		</div>
		<script>

		function setValFunc(select)
		{
			Status.value = select.value;
		}

		</script>
		<input class="Button" type="submit" value="Поиск" form="upload_data" onclick="uploadTable()">
		$
		</div>
		<div class="Message" id="Message"></div>
		<table class="TableBlock" id="TableBlock">
		</table>